.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    max-width: 105px;
    max-height: 39px;
    position: relative;
    left: -50px;
}

.nav__links {
    display: flex;
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    gap: 20px;
    padding: 0;
}

.nav__link {
    color: black;
    text-decoration: none;
}

.nav__link:hover {
    opacity: 50%;
    transition-duration: 1s;
}